<script lang="ts">
    import ReconnectingWebsocket from 'reconnectingwebsocket';

    import type { ServerMessage, Token } from '@lemmein/shared';

    import config from './config';
    import store from './App/store';

    import IssuerElement from './App/Issuer.svelte';
    import ToggleElement from './App/Toggle.svelte';

    let time: number = 0;
    let tokens: Token[] = [];
    let active = false;
    let latency: number;
    let interval: number;

    let lastPing: Date;
    let pinger: number;

    function sendPing() {
        lastPing = new Date();
        ws.send(JSON.stringify({ type: 'ping' }));
    }

    function groupTokens(tokens: Token[]) {
        const issuers = new Map<Token['issuer'], Set<Token>>();

        for (const token of tokens) {
            const issuer = token.issuer;
            if (!issuers.has(issuer)) {
                issuers.set(issuer, new Set);
            }

            const issuerTokens = issuers.get(issuer)!;
            issuerTokens.add(token);
        }

        return issuers;
    }

    const ws = new ReconnectingWebsocket(`${location.protocol.replace('http', 'ws')}//${config.ws ?? location.hostname}/ws`);
    ws.onopen = () => {
        interval && clearInterval(interval);
        active = true;

        pinger = setInterval(() => sendPing(), 5 * 1000);
        setTimeout(() => sendPing(), 100);
    };
    ws.onclose = () => {
        pinger && clearInterval(pinger);
        interval && clearInterval(interval);
        active = false;
    };
    ws.onmessage = (wsMsg) => {
        let msg = wsMsg.data as ServerMessage;
        if (typeof msg === 'string') msg = JSON.parse(msg);

        // Do not process heartbeat messages
        if (msg.type === 'pong') {
            // Calculate and show latency
            latency = (new Date()).getTime() - lastPing.getTime();

            return;
        }

        // Got update message
        if (msg.type === 'update') {

            // Setup time drain
            interval && clearInterval(interval);
            interval = setInterval(() => {
                time -= 1;
            }, 1000);

            tokens = msg.tokens;
            time = msg.time;

            console.log('Update', msg.tokens, msg.time);

            return;
        }

        console.log(msg);
    };
</script>

<main>
    <header>
        <div class="heading">
            <div class="text">LemmeIn</div>
            <div class="options">
                <ToggleElement icon="code" id="showCode" bind:checked={$store.showCodes} />
            </div>
            <div class="latency">
                <svg><use href="#icon_signal"></use></svg>

                {#if active && typeof latency === 'number'}
                    {latency}ms
                {:else}
                    &mdash;
                {/if}
            </div>
        </div>
        {#if active}
            <div class="progress">
                <div class="indicator" style="width: {time / 30 * 100}%"></div>
            </div>
        {/if}
    </header>

    {#if active}
        <div class="list">
            {#each groupTokens(tokens) as [ issuer, group ]}
                <IssuerElement caption={issuer} tokens={group} />
            {/each}
        </div>
    {/if}
</main>

<style>
    main {
        container: wrapper / inline-size;
        padding: 15px;
        margin: 0 auto;
        width: 700px;
        max-width: 100%;
    }

    header {
        position: sticky;
        top: 4px;
        border-radius: 8px;
        padding: 8px;
        box-shadow: 0 0 0 4px #2a2a2a;
        background: #343a40;
    }

    header > .heading {
        display: flex;
        gap: 5px;
    }

    header > .heading > .text {
        flex: 1;
    }

    header > .heading > .latency {
        display: flex;
        align-items: center;
        font-size: 12px;
        border-radius: 4px;
        padding: 0 3px;
        background: rgba(0,0,0,0.3);
    }

    header > .heading > .latency > svg {
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }

    .progress {
        height: 5px;
        margin-top: 5px;
    }

    .progress > .indicator {
        height: 100%;
        border-radius: 4px;
        background: dodgerblue;
    }

    header .options {
        display: flex;
        gap: 10px;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .list:not(:empty) {
        margin-top: 15px;
    }

    @container wrapper (width >= 550px) {
        .list {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
