<script lang="ts">
    import type { Token } from "@lemmein/shared";
    import TokenElement from "./Token.svelte";

    export let caption: string;
    export let tokens: Token[]|Set<Token>;
</script>

<style>
    .issuer {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .tokens {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
</style>

<div class="issuer">
    <div class="caption">{caption}</div>
    <div class="tokens">
        {#each tokens as token}
            <TokenElement {token} />
        {/each}
    </div>
</div>