<script lang="ts">
    export let id: string;
    export let icon: string;
    export let checked: boolean;
</script>

<style>
    .toggle {
        position: relative;
        width: fit-content;
        height: fit-content;
    }

    .toggle > input {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin: 0;
        transform: translateX(-50%);
        opacity: 0;
        pointer-events: none;
    }

    .toggle > label {
        cursor: pointer;
        display: block;
        color: #2b2b2b;
    }

    .toggle > label > svg {
        display: block;
    }

    .toggle > input:not(:checked) + label:hover {
        color: #2c6aa7;
    }

    .toggle > input:checked + label {
        color: dodgerblue;
    }
</style>

<div class="toggle">
    <input type="checkbox" id="toggle_{id}" bind:checked={checked}>

    <label for="toggle_{id}">
        <svg width="20" height="20">
            <use href="#icon_{icon}"></use>
        </svg>
    </label>
</div>
