<script lang="ts">
    import type { Token } from "@lemmein/shared";
    import store from "./store";

    export let token: Token;

    async function codeToClipboard(): Promise<void> {
        try {
            await navigator.clipboard.writeText(token.code);
        } catch (e) {
            debugger;
            console.error(e);
        }
    }
</script>

<div class="token">
    <div class="column-left">
        <div class="heading">
            <span class="caption">{token.account}</span>
            <!-- <span class="target">Autodesk</span> -->
        </div>
        {#if $store.showCodes}
            <div class="code">{token.code}</div>
        {/if}
    </div>
    <div class="column-right">
        <button class="btn-copy" on:click={codeToClipboard}>
            <svg><use href="#icon_clipboard"></use></svg>
        </button>
    </div>
</div>

<style>
    .token {
        display: flex;
        flex-direction: row;
        border-radius: 6px;
        /* box-shadow: 0 0 3px #0c0c0c; */
        background: #2b2b2b;
    }

    .column-left {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1;
        padding: 8px 12px;
    }

    .column-right {
        flex-shrink: 0;
    }

    .heading {
        line-height: 18px;
    }

    .heading .caption {
        color: #979797;
    }

    .code {
        font-size: 22px;
        line-height: 1;
        letter-spacing: 6px;
    }

    .btn-copy {
        display: flex;
        cursor: pointer;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 0 6px 6px 0;
        border: none;
        user-select: none;
        padding: .375rem .75rem;
        outline: none;
        background-color: #303030;
        color: #fff;

        transition: background-color .15s ease-in-out;
    }

    .btn-copy:active {
        background-color: #424242;
    }

    .btn-copy > svg {
        width: 24px;
        height: 24px;
    }
</style>
