@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto Mono", monospace;
    font-size: 100%;
    min-width: 200px;
    margin: 0;
    padding: 0;
    background: #1a1a1a;
    color: white;
}
